*{
    font-family: 'Poppins', sans-serif;
}

.buttons{
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #092C4C;
    width: 50%;
    height: 18em;
    padding: .5em;
    margin: 1em;
}
.icon{
    object-fit: none;
    max-height: 180px;
}
.foodimage{
    width: 100%;
    height: auto;
}
.click{
    background-color: #092C4C;
    width: 100%;
    height: 45px;
    color: white;
    font-size: 1.8em;
}
.maintitle{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin: 0%;
    padding-top: 25%;
    font-size: 6em;
    color: black;
    background: rgba(255,255,255,0.5)
}

