*{
    font-family: 'Poppins', sans-serif;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #092C4C;
    width: 60%;
    height: 17em;
    padding: .5em;
    margin: .5em;
    margin-top: 2em;
}
.icon{
    object-fit: none;
    max-height: 180px;
}
.foodimage{
    width: 100%;
}
.click{
    background-color: #092C4C;
    width: 100%;
    height: 45px;
    color: white;
    font-size: 1.8em;
}
.maintitle{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin: 0%;
    padding-top: 20%;
    font-size: 3em;
    color: black;
}

